<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SELLER</title>
</head>
<body>
   
     <table class="table">
         <tr>
             <td>SELLER NAME</td>
             <td><input placeholder="ENTER THE SELLER NAME" type="text" class="form-control"></td>
         </tr>
         <tr>
             <td>ADDRESS</td>
             <td><input placeholder="ENTER THE ADDRESS" type="text" class="form-control"></td>
         </tr>
         <tr>
             <td>EMAIL ID</td>
             <td><input type="text" class="form-control"></td>
         </tr>
         <tr>
             <td>PH NO</td>
             <td><input type="number" class="form-control"></td>
         </tr>
         <tr>
             <td>DOB</td>
             <td><input type="date" class="form-control"></td>
         </tr>
         <tr>
             <td>DISTRICT</td>
             <td>
                
                 <select name="" id="" class="form-control">
                    <option value="">CHENNAI</option>
                    <option value="">BLORE</option>
                    <option value="">MADURAI</option>
                    <option value="">KOCHI</option>
                    <option value="">HYDERABAD</option>
                 </select>
             </td>
         </tr>
         <tr>
             <td>AGE</td>
             <td><input type="number" class="form-control"></td>
         </tr>
         <tr>
             <td>AADHAR NO</td>
             <td><input type="text" class="form-control"></td>
         </tr>
         <tr>
             <td></td>
             <td><Button class="btn btn-success">LOGIN</Button></td>
         </tr>
     </table>
</body>
</html>